body {
  width: 100vw;
  background-color: white;
}

.Clicker {
  display: flex;
  justify-content: space-evenly;
}

#count {
  display: flex;
  justify-content: center;
  font-family: monospace;
}
#cpscounter {
  display: flex;
  justify-content: center;
  font-family: monospace;
}
#h1-id {
  font-family: monospace;
  text-align: center;
  color: white;
}
.buttontxt {
  font-size: 30px;
  color: white;
}
.upgrades {
  /*directions */
  display: flex;
  align-items: center;
  flex-direction: column;
  /*  */
  margin: 10px;
}
.button {
  display: flex;
  align-items: center;
  margin: 5px 0;
  background-color: transparent;
  font-family: monospace;
  border: 0px;
  width: 35px;
}
#bananenb {
  border: 0px;
  border-radius: 50%;
  background-color: transparent;
}
.split {
  width: 5px;
  height: 620px;
  background-color: black;
}
.part {
  height: fit-content;
}
#up1 {
  font-size: 12px;
}
#money {
  font-size: 12px;
}
#up2 {
  font-size: 12px;
}
#up3 {
  font-size: 12px;
}
#up4 {
  font-size: 12px;
}
